DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DB?sslmode=verify-full
DIRECT_URL=postgresql://USER:PASSWORD@HOST:PORT/DB?sslmode=verify-full

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=change-me
APP_URL=http://localhost:3000

RESEND_API_KEY=your_resend_api_key
RESEND_FROM=Moeris <no-reply@moeris.com>

ADMIN_EMAIL=admin@moeris.com
ADMIN_PASSWORD=ChangeMe123!
ADMIN_NOM=Admin
ADMIN_PRENOM=Moeris

HOTEL_NAME=Residence Moeris
HOTEL_ADDRESS=Lome, Rue alogavie
HOTEL_PHONE=+228 00 00 00 00
HOTEL_EMAIL=contact@moeris.com
HOTEL_REGISTRY=AK23B12
